PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres@localhost:5432/gym_artes_marciales?schema=public"
JWT_SECRET="cambia-este-secreto-en-desarrollo"
JWT_EXPIRES_IN="7d"
